In [1]:
a = 5
a

5

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\pand\\covid_toy.csv")
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [5]:
### How can we check total columns in this dataframe

In [6]:
df.columns

Index(['age', 'gender', 'fever', 'cough', 'city', 'has_covid'], dtype='object')

In [7]:
##### How can we check top 5 data from the dataframe ?

In [ ]:
df.head(2)  ### it returns top 5 data by default and if pass value in this it will return that rows.

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [13]:
# How can we check bottom data from the dataframe ?

In [15]:
df.tail(3)

    age  gender  fever   cough       city has_covid
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

In [19]:
df.sample(3)

    age  gender  fever   cough     city has_covid
88    5  Female  100.0    Mild  Kolkata        No
99   10  Female   98.0  Strong  Kolkata       Yes
11   65  Female   98.0    Mild   Mumbai       Yes

In [20]:
# How can we check datatype of all columns

In [21]:
df.dtypes

age            int64
gender        object
fever        float64
cough         object
city          object
has_covid     object
dtype: object

In [22]:
# How can we check Statically view of dataframe ?

In [23]:
df.describe()

              age       fever
count  100.000000   90.000000
mean    44.220000  100.844444
std     24.878931    2.054926
min      5.000000   98.000000
25%     20.000000   99.000000
50%     45.000000  101.000000
75%     66.500000  102.750000
max     84.000000  104.000000

In [24]:
# How can we check overall information in the dataframe ?

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        100 non-null    int64
 1   gender     100 non-null    object
 2   fever      90 non-null     float64
 3   cough      100 non-null    object
 4   city       100 non-null    object
 5   has_covid  100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

In [26]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [27]:
# How can we check missing values in a dataframe ?

In [28]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [29]:
df['fever'].mean()

np.float64(100.84444444444445)

In [31]:
df['fever'] = df['fever'].fillna(df['fever'].mean())

In [32]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [33]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [34]:
# How can we check total sub-categories in a column

In [35]:
df['gender'].value_counts()

gender
Female    59
Male      41
Name: count, dtype: int64

In [36]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [37]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [38]:
df['has_covid'].value_counts()

has_covid
No     55
Yes    45
Name: count, dtype: int64

In [39]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [40]:
df['gender'] = df['gender'].map({"Male":0 , "Female":1})

In [42]:
df['cough'] = df['cough'].map({"Mild":0 , "Strong":1})

In [43]:
df['city'] = df['city'].map({"Kolkata":0 , "Bangalore":1 , "Delhi":2 , "Mumbai":3})

In [44]:
df['has_covid'] = df['has_covid'].map({"Yes":1 , "No":0})

In [45]:
df.head(3)

   age  gender  fever  cough  city  has_covid
0   60       0  103.0      0     0          0
1   27       0  100.0      0     2          1
2   42       0  101.0      0     2          0

In [ ]:
# Data ---> 
# Categorical(Descrete) ---> We cannot divide furthur . Ex. has_covid(y,n), marital_status(y,n),result(p,f),
# students_in_class(50,51)
# Numerical(Continuous) ---> We can divide furthur . Ex. distance jaipur to delhi(310.60km), weight(kg,gm), 
# salary(rupees), Insurance_charges(rupees) , birth_year(25)